# . "$HOME/.cargo/env"

#####input method framework
# fcitx5 -d
# GTK_IM_MODULE=fcitx5
# QT_IM_MODULE=fcitx5
# XMODIFIERS=@im=fcitx
#nohup unclutter -idle 10 &
#nohup keynav &
# if [ "$XDG_SESSION_TYPE" = "wayland" ] ; then
    # # https://github.com/swaywm/sway/issues/595
    # export _JAVA_AWT_WM_NONREPARENTING=1
# fi
# #######exec
nxss &
